# Content-Based Recommender

- A system that recommends movies that are similar to a particular movie. To achieve this, you will compute pairwise cosine similarity scores for all movies based on their plot descriptions and recommend movies based on that similarity score threshold.

## Packages

In [1]:
import pandas as pd

In [2]:
# load movies metadata
metadata = pd.read_csv('../dataset/movies_metadata.csv', low_memory=False)

metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [3]:
#Print plot overviews of the first 5 movies.
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [4]:
# Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

# Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

# Replace NaN with an empty string
metadata['overview'] = metadata['overview'].fillna('')

# Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

# Output the shape of tfidf_matrix
tfidf_matrix.shape

(45466, 75827)

In [5]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names_out()[5000:5010]

array(['avails', 'avaks', 'avalanche', 'avalanches', 'avallone', 'avalon',
       'avant', 'avanthika', 'avanti', 'avaracious'], dtype=object)

This would return a matrix of shape 45466x45466, which means each movie overview cosine similarity score with every other movie overview. Hence, each movie will be a 1x45466 column vector where each column will be a similarity score with each movie.

In [26]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix[:1000], tfidf_matrix[:1000])

In [27]:
cosine_sim.shape

(1000, 1000)

In [28]:
cosine_sim[1]

array([0.01504121, 1.        , 0.04681953, 0.        , 0.        ,
       0.05018805, 0.        , 0.        , 0.1025322 , 0.        ,
       0.00721657, 0.        , 0.        , 0.00786494, 0.        ,
       0.        , 0.        , 0.0278222 , 0.        , 0.        ,
       0.        , 0.        , 0.00560126, 0.        , 0.        ,
       0.0234883 , 0.02324945, 0.00624991, 0.        , 0.        ,
       0.        , 0.04612967, 0.        , 0.0052072 , 0.00402   ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02503359, 0.        ,
       0.        , 0.01768011, 0.00774432, 0.        , 0.01581817,
       0.00469205, 0.        , 0.0250365 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00913776, 0.        , 0.01763035,
       0.00627984, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00819822, 0.        , 0.        ,
       0.        , 0.        , 0.00554642, 0.        , 0.        ,
       0.        , 0.00485734, 0.00497367, 0.        , 0.        ,
       0.02681704, 0.        , 0.        , 0.        , 0.01622588,
       0.        , 0.        , 0.        , 0.01325692, 0.0162505 ,
       0.        , 0.0736984 , 0.01067602, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02527469, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00751595, 0.00728912,
       0.        , 0.        , 0.        , 0.00795798, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04973748,
       0.        , 0.00734164, 0.        , 0.01193074, 0.        ,
       0.        , 0.        , 0.01639905, 0.        , 0.        ,
       0.00932124, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01073371,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02552027, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00563637, 0.0404243 , 0.        , 0.        ,
       0.        , 0.03883081, 0.01380049, 0.        , 0.00964763,
       0.        , 0.04857568, 0.00419848, 0.        , 0.00995604,
       0.        , 0.        , 0.        , 0.01735101, 0.03104382,
       0.01726335, 0.        , 0.03928212, 0.        , 0.05615732,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00857024, 0.01089273,
       0.00578068, 0.        , 0.        , 0.00713873, 0.        ,
       0.        , 0.        , 0.        , 0.01330538, 0.        ,
       0.        , 0.01998912, 0.        , 0.        , 0.        ,
       0.00503813, 0.        , 0.        , 0.0108688 , 0.        ,
       0.        , 0.00723033, 0.        , 0.01606771, 0.        ,
       0.        , 0.        , 0.        , 0.01346892, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01691755, 0.        , 0.        ,
       0.        , 0.01712445, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00848292, 0.0112684 ,
       0.00671881, 0.01280527, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02102257, 0.02347685, 0.        ,
       0.00636041, 0.02766236, 0.00666391, 0.06782121, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00717119, 0.        , 0.        , 0.00635862,
       0.02610015, 0.00883409, 0.00798299, 0.        , 0.        ,
       0.02139375, 0.        , 0.02384069, 0.        , 0.01983703,
       0.        , 0.        , 0.        , 0.00683901, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03883398, 0.        , 0.06876732,
       0.00708857, 0.04722174, 0.        , 0.02840292, 0.01629338,
       0.03394759, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01009441, 0.        , 0.0079138 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04830267,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01751274, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0070795 , 0.        ,
       0.03901663, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01500053, 0.09602967, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01184343, 0.        , 0.        , 0.        , 0.        ,
       0.00594061, 0.        , 0.        , 0.00594424, 0.        ,
       0.0109402 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0090537 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01136121, 0.        , 0.01176632, 0.01570621, 0.        ,
       0.02871997, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01613957, 0.        , 0.02734977, 0.        , 0.05449509,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02900123, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01576297, 0.        ,
       0.        , 0.00687887, 0.01510983, 0.        , 0.        ,
       0.        , 0.00850699, 0.        , 0.        , 0.        ,
       0.        , 0.00536933, 0.        , 0.        , 0.        ,
       0.00750091, 0.        , 0.01262523, 0.        , 0.02046683,
       0.        , 0.        , 0.        , 0.        , 0.01787114,
       0.        , 0.        , 0.        , 0.        , 0.0074539 ,
       0.0072115 , 0.        , 0.        , 0.        , 0.04146027,
       0.01093931, 0.        , 0.01568575, 0.        , 0.        ,
       0.03188963, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0236263 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00603646, 0.02123835, 0.        ,
       0.00670398, 0.        , 0.        , 0.        , 0.        ,
       0.01083028, 0.        , 0.        , 0.        , 0.        ,
       0.00687352, 0.        , 0.02098526, 0.        , 0.        ,
       0.        , 0.        , 0.01644349, 0.        , 0.        ,
       0.        , 0.        , 0.01044427, 0.        , 0.        ,
       0.        , 0.00720883, 0.        , 0.00686943, 0.0114006 ,
       0.02080543, 0.00564734, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02084858, 0.        , 0.        , 0.        ,
       0.018271  , 0.        , 0.01130085, 0.        , 0.        ,
       0.        , 0.        , 0.0069723 , 0.        , 0.        ,
       0.01448169, 0.        , 0.        , 0.0250912 , 0.00620429,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02466072,
       0.        , 0.01407663, 0.00807603, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.04742252, 0.        ,
       0.        , 0.06809072, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03252239, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0195648 , 0.01591493, 0.00602627, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04306076,
       0.        , 0.01417238, 0.        , 0.        , 0.01061112,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00530246, 0.        ,
       0.        , 0.00756636, 0.        , 0.        , 0.01211908,
       0.01334217, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02477713, 0.        , 0.        ,
       0.        , 0.03198801, 0.        , 0.        , 0.        ,
       0.00770694, 0.        , 0.        , 0.00414631, 0.        ,
       0.03495637, 0.00574983, 0.02932155, 0.01880301, 0.        ,
       0.        , 0.00932599, 0.        , 0.02016876, 0.        ,
       0.0048644 , 0.00573773, 0.        , 0.        , 0.        ,
       0.        , 0.0041639 , 0.        , 0.0178675 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01000974,
       0.        , 0.        , 0.        , 0.        , 0.02174896,
       0.00696143, 0.        , 0.        , 0.        , 0.        ,
       0.01142371, 0.        , 0.        , 0.        , 0.03951062,
       0.01153226, 0.        , 0.        , 0.        , 0.00613551,
       0.        , 0.00581599, 0.00721807, 0.        , 0.        ,
       0.        , 0.0185532 , 0.        , 0.01090953, 0.        ,
       0.        , 0.        , 0.06127293, 0.03842431, 0.        ,
       0.        , 0.        , 0.        , 0.00628436, 0.01979455,
       0.02612753, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01614102, 0.03357098, 0.        , 0.        ,
       0.00473745, 0.        , 0.01726087, 0.        , 0.01358576,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00577705, 0.        , 0.00764825, 0.        , 0.        ,
       0.        , 0.        , 0.01796068, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01564701,
       0.01697046, 0.00873238, 0.00566225, 0.01535511, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01490944, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00541159, 0.        ,
       0.        , 0.00890643, 0.        , 0.        , 0.        ,
       0.        , 0.00816243, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02100172, 0.        ,
       0.        , 0.00777825, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00805726, 0.        ,
       0.        , 0.01069967, 0.0068044 , 0.        , 0.01738537,
       0.        , 0.        , 0.        , 0.        , 0.00779662,
       0.01225017, 0.        , 0.        , 0.00647579, 0.07950063,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0277318 , 0.02062952,
       0.00770671, 0.        , 0.00738767, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02400091,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00630906, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02931161, 0.00495536,
       0.        , 0.        , 0.        , 0.        , 0.06166515,
       0.        , 0.        , 0.        , 0.0167164 , 0.        ,
       0.01332196, 0.01135738, 0.03800451, 0.        , 0.07686048,
       0.        , 0.        , 0.00964634, 0.        , 0.01648478,
       0.00859216, 0.        , 0.        , 0.        , 0.        ,
       0.00661543, 0.02432626, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01052334, 0.01576196, 0.        ,
       0.        , 0.        , 0.01767618, 0.        , 0.        ,
       0.        , 0.        , 0.0072074 , 0.        , 0.        ,
       0.0094281 , 0.        , 0.        , 0.        , 0.        ,
       0.0053535 , 0.        , 0.        , 0.00627553, 0.        ,
       0.        , 0.01444774, 0.        , 0.        , 0.        ,
       0.        , 0.03195412, 0.00938231, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00564997,
       0.        , 0.        , 0.01484939, 0.        , 0.09632386,
       0.        , 0.        , 0.00838585, 0.00630419, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05351365, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03114774,
       0.        , 0.08386211, 0.00429571, 0.        , 0.        ,
       0.00997644, 0.        , 0.0224548 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02181637, 0.        , 0.        , 0.01489936, 0.023287  ])

In [14]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [15]:
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [29]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [30]:
get_recommendations('The Godfather')

688                  To Cross the Rubicon
252                                Junior
600                                 Fargo
204                  A Walk in the Clouds
19                            Money Train
273                Miracle on 34th Street
736                               Careful
701                              Captives
69                    From Dusk Till Dawn
323    Tales from the Crypt: Demon Knight
Name: title, dtype: object

# Credits, Genres, and Keywords Based Recommender

In [7]:
# Load keywords and credits
credits = pd.read_csv('../dataset/credits.csv')
keywords = pd.read_csv('../dataset/keywords.csv')

# Remove rows with bad IDs.
metadata = metadata.drop([19730, 29503, 35587])

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [8]:
# Print the first two movies of your newly merged metadata
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [9]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [10]:
# Import Numpy
import numpy as np

In [11]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [12]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [13]:
# Define new director, cast, genres and keywords features that are in a suitable form.
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

In [14]:
# Print the new features of the first 3 films
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"

In [15]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [16]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [17]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [18]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)

In [19]:
metadata[['soup']].head(2)

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

In [20]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])

In [21]:
count_matrix.shape

(46628, 73881)

In [22]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

# Filter the dataset to the top N items
N = 20000  # Adjust this number based on your memory constraints
count_matrix = count_matrix[:N]
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [23]:
# Reset index of your main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])

In [31]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

12541      The Dark Knight
10170        Batman Begins
9271                Shiner
9834       Amongst Friends
7732              Mitchell
516      Romeo Is Bleeding
11411         The Prestige
10809       Helter Skelter
18866            Last Exit
4500       An Innocent Man
Name: title, dtype: object

In [32]:
get_recommendations('The Godfather', cosine_sim2)

1926            The Godfather: Part III
1187             The Godfather: Part II
15534                   The Rain People
18866                         Last Exit
7961     The Night of the Following Day
18187                 The Son of No One
7732                           Mitchell
1174                     Apocalypse Now
1640                   Ill Gotten Gains
3475         Jails, Hospitals & Hip-Hop
Name: title, dtype: object